*{
    box-sizing: border-box;
    }

body{
    margin: 0;
    background-color: rgb(241, 238, 231);
}

.banner{
    background-image: url(../img/banner3.jpeg);
    background-repeat: no-repeat;    
    background-size: cover;  
    background-position: center;  
    height: 820px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-shadow: 1px 1px 2px black;
}


.banner__conteudo{
    text-align: center;
}

.banner__titulo{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner__subtitulo{
    font-size: 24px;
}

.banner__link{
    text-decoration: none;
    color: rgb(95, 4, 19);
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    border-style: ridge;
    border-color: rgb(95, 4, 19);  
    font-size: 15px; 
      
}

.banner__link2{
    text-decoration: none;
    color: rgb(95, 4, 19);
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    border-style: ridge;
    border-color: rgb(95, 4, 19);  
    font-size: 15px;
    margin-top: 50px; 
      
}


.banner__link:hover{
background-color: rgb(172, 166, 172);
}



.sobre{    
    padding: 30px;
    background-color: rgb(243, 238, 231);  
    margin-top: -50px;  
}

.sobre__titulo{
    color: rgb(44, 43, 44);
    font-size: 35px;
    margin-top: 35px;
    text-align: left;
    
}

.sobre__conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px; 
    margin-top: -55px;
}

.sobre__descricao{
    width: 50%; 
    justify-content: center; 
    margin-top: -100px;
    font-size: 15px;
    margin-left: 10px;
}



.sobre__habilidades{
   
    width: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

li{
    line-height: 10px;
    margin-left: -80px;
}

h3{
    margin-top: 0px;
    margin-left: -135px;
    font-size: 24px;
    color: rgb(32, 31, 32);
}


.descricao__p2{
    font-size: 18px;
}

.descricao__p3{
   margin-top: 85px; 
}




.footer {
    margin: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: rgb(243, 238, 231);  
}

  
.redes-sociais{
    display: flex;      
}
  

.redes-sociais__link{
    background-color: rgba(53, 1, 14, 0.993);
    color: white;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    padding: 10px 20px ;
}  


  .redes-sociais__link:hover {
    opacity: 0.8;
  }

.copyright{
    text-align: center;
}

@media(max-width: 768px){
    .sobre__conteudo{

    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .sobre__descricao{
        width: 100%;
    }

    .sobre__habilidades{
        width: 100%
    }
}